<div class="card">
  <div class="card-img-top">
    <img src="{{sprite}}" alt="{{fullName}}">
  </div>
  <div class="card-body">
    <h2 class="card-title">Имя: {{full_name}}</h2>
    <p class="card-text">Sex: {{sex}}</p>

    <p class="card-text"><b>Episodes</b></p>
    <ul class="list-group"></ul>
    {{!-- {{#each quotes}}
    <li class="list-group-item">{{quote}}</li>
    {{/each}} --}}
    </ul>
  </div>
</div>